body{
    background-image:url("../image/bg.png");
    background-size: 100% auto;
    /* background-repeat: no-repeat; */

}

#app{
 margin: 0 auto;
}
.card:hover{
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);

}

.card img:hover{
    border-radius: 10px;



}

.footer{
    background-color: #8d4e56;
    height: 90px;
    color:white;
    text-decoration: none;
    padding: 10px 20px;
}

.footer a{
    text-decoration: none;
    color:white;
}



/* .mobile{
    display: none;
} */

.category_item{
    background-color: #ca4855;
    color: white;
    border-radius: 5px;
}

.category_items{
    display: flex;
}

.categoryBody_item{
    background-color: #c07d7d;
    color: white;
    border-radius: 5px;
}

.img-fluid{
    border-radius: 5px;
}
.img-fluid:hover{
    margin-top: -10px;
}
.title img{
    width: 200px;
}

@media screen and (max-width: 600px){
    .title img{
        width: 80px;
    }
    .category_item{

        font-size: 12px;
    }
    .categoryBody_item{

        font-size: 12px;
    }
    .card{
        background-color: none;
    }
    .footer{

        height: 70px;

        font-size: 12px;
    }

}
