body{
    background-image: url(/image/salon.jpg);
}
.front {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;

    top: 0;
    left: 0;
}

.back {

    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
}

.photo:hover .back {
    transform: rotateY(0deg);
}

.photo:hover .front {
    transform: rotateY(180deg);
}

.send {
    text-align: center;
    width: 100%;

}
.send button{
    width: 50vw;
    margin-bottom: 10px;
    font-weight: 900;
    padding: 10px;
    font-size: 20px;
}

.send button:hover{
    background-color: rgba(54, 2, 2);
    color:rgb(255, 255, 255);
}
.card{
    background-color: rgba(256, 256, 256, .7);
}
.list-group-item  {
    background-color:transparent;
}
.list-group-item-action{
    background-color:transparent;

}
.list-group-item-action:active{
    background-color: rgba(54, 2, 2);
    color:rgb(255, 255, 255);

}

.list-group-item-action:hover{
    background-color: rgba(54, 2, 2);
    color:rgb(255, 255, 255);
}
.navbar{
    background-image: url(./image/bg.jpg);
}
