<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>安琪造型沙龍</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js">

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-storage.js"></script>

</head>

<body>
    <div id="app" class="container ">

        <div class="head w-100" style="text-align: center;">
            <div class="w-100" style="text-align: center; margin-top: 30%;">
                <img src="./image/title.png" width="40%"><br>
                <img src="./image/hair_animated.svg" width="40%"><br>
                <img src="./image/modeling_animated.svg" width="40%">
            </div>
        </div>

        <div class="content">
            <div class="hair_catrgory w-100" id="category">
                <div class="title">
                    <img src="./image/item_bg/title_1.png" width="200px">
                </div>
                <div style="display:none;">
                    <div class="card" style="text-align: center; margin: 5% 0px;" data-toggle="collapse" href="#dye"
                        role="button" aria-expanded="false" aria-controls="dye">
                        <img class="web" src="image/hair-dye.png" v-on:click="searchHead('染')">
                        <img class="mobile" src="image/1.png" v-on:click="searchHead('染')">

                        <div class="collapse collapsing " id="dye" data-parent="#category">
                            <div class="d-flex">
                                <div v-for="item in category">
                                    <button class="category_item btn m-2" v-on:click="searchBody(item)">{{ item
                                        }}</button>
                                </div>
                            </div>
                            <div class="d-flex mx-1">
                                <div v-for="item in categoryBody" class="categoryBody_item btn m-2">
                                    <div v-on:click="loadImage(item,'染')" class="">
                                        {{ item }}
                                    </div>
                                </div>
                            </div>
                            <div id="hair_item" class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="row" id="img_dye">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="text-align: center; margin: 2% 0px;" data-toggle="collapse" href="#dye"
                    role="button" aria-expanded="false" aria-controls="dye">
                    <img class="web" src="image/hair-dye.png" v-on:click="searchHead('染')">
                    <!-- <img class="mobile" src="image/1.png" v-on:click="searchHead('染')"> -->
                </div>
                <div class="collapse collapsing " id="dye" data-parent="#category">
                    <div class="d-flex">
                        <div v-for="item in category">
                            <button class="category_item btn m-2" v-on:click="searchBody(item.fullPath)">{{ item.name }}</button>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div v-for="item in categoryBody" class="categoryBody_item btn m-2">
                            <div v-on:click="loadImage(item.fullPath,'染')" class="">
                                {{ item.name }}
                            </div>
                        </div>
                    </div>
                    <div id="hair_item" class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="row" id="img_dye">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="text-align: center; margin: 2% 0px;" data-toggle="collapse" href="#perm"
                    role="button" aria-expanded="false" aria-controls="perm">
                    <img class="web" src="image/perm.png" v-on:click="searchHead('燙')">
                    <!-- <img class="mobile" src="image/4.png" v-on:click="searchHead('燙')"> -->
                </div>
                <div class="collapse collapsing " id="perm" data-parent="#category">
                    <div class="d-flex">
                        <div v-for="item in category">
                            <button class="category_item btn m-2" v-on:click="searchBody(item.fullPath)">{{ item.name }}</button>
                        </div>
                    </div>
                    <div class="d-flex ">
                        <div v-for="item in categoryBody" class="categoryBody_item btn m-2">
                            <div v-on:click="loadImage(item.fullPath,'燙')" class="">
                                {{ item.name }}
                            </div>
                        </div>
                    </div>
                    <div id="hair_item" class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="row " id="img_perm">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="text-align: center; margin: 2% 0px;" data-toggle="collapse" href="#modeling"
                    role="button" aria-expanded="false" aria-controls="modeling">
                    <img class="web" src="image/modeling.png" v-on:click="searchHead('造型')">
                    <!-- <img class="mobile" src="image/3.png" v-on:click="searchHead('造型')"> -->
                </div>
                <div class="collapse collapsing " id="modeling" data-parent="#category">
                    <div class="d-flex">
                        <div v-for="item in category">
                            <button class="category_item btn m-2" v-on:click="searchBody(item.fullPath)">{{ item.name }}</button>
                        </div>
                    </div>
                    <div class="d-flex mx-1">
                        <div v-for="item in categoryBody" class="categoryBody_item btn m-2">
                            <div v-on:click="loadImage(item.fullPath,'造型')" class="">
                                {{ item.name }}
                            </div>
                        </div>
                    </div>
                    <div id="hair_item" class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="row " id="img_modeling">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="text-align: center; margin: 2% 0px;">
                    <img class="web" src="image/cut-hair.png" v-on:click="searchHead('剪')" data-toggle="collapse"
                        href="#cut" role="button" aria-expanded="false" aria-controls="cut">
                    <!-- <img class="mobile" src="image/2.png" v-on:click="searchHead('剪')"> -->
                </div>
                <div class="collapse collapsing mb-5" id="cut" data-parent="#category">
                    <div class="d-flex">
                        <div v-for="item in category">
                            <button class="category_item btn m-2" v-on:click="searchBody(item.fullPath)">{{ item.name }}</button>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div v-for="item in categoryBody" class="categoryBody_item btn m-2">
                            <div v-on:click="loadImage(item.fullPath,'剪')" class="">
                                {{ item.name }}
                            </div>
                        </div>
                    </div>
                    <div id="hair_item " class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="row " id="img_cut">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                    <span><a href="tel:+886-966608016">TEL：02-2959-7628</a></span><br>
                    <span>Appointment: Monday to Sunday 10:00~20:00</span><br>
                    <span>
                        <a href="http://maps.google.com/?q=235 Yuanshan Road, Zhonghe District, New Taipei City" target="_blank">Address: 新北市板橋區懷仁街78號 </a>
                    </span>
            </div>
        </div>
    </div>

    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyAsO5KqxlfEdhpg9XE82N8yq8ej31cMzNQ",
            authDomain: "angel-0118.firebaseapp.com",
            databaseURL: "https://angel-0118.firebaseio.com",
            projectId: "angel-0118",
            storageBucket: "angel-0118.appspot.com",
            messagingSenderId: "510444520734",
            appId: "1:510444520734:web:a3d37b015a9f146a58350f",
            measurementId: "G-YH5E1J39H0"
        };
    </script>

    <script>
        var myViewModel = new Vue({
            el: '#app',
            data: {
                items: [
                    {
                        cName: '燙',
                        eName: 'prem'
                    },
                    {
                        cName: '染',
                        eName: 'dye'
                    },
                    {
                        cName: '造型',
                        eName: 'modeling'
                    },
                    {
                        cName: '剪',
                        eName: 'cut'
                    }
                ],
                folder: [],
                category: [],
                categoryBody: [],
                imgUrl: [],
            },
            methods: {
                searchHead(item) {
                    this.folder = [];
                    this.category = [];
                    this.categoryBody = [];
                    $("#hair_item").empty();
                    $("#img_dye").empty();
                    $("#img_perm").empty();
                    $("#img_modeling").empty();
                    $("#img_cut").empty();
                    !firebase.apps.length ? firebase.initializeApp(firebaseConfig) : firebase.app()
                    const storageReference = firebase.storage().ref(`${item}`);
                    storageReference.listAll().then(res => {
                        this.folder = res.prefixes
                        res.prefixes.forEach(element => {
                            this.category.push({
                                fullPath: element.fullPath,
                                name: element.name,
                            })
                        })

                    })

                },
                searchBody(item) {
                    this.folder = [];
                    this.categoryBody = []
                    $("#hair_item").empty();
                    $("#img_dye").empty();
                    $("#img_perm").empty();
                    $("#img_modeling").empty();
                    $("#img_cut").empty();
                    !firebase.apps.length ? firebase.initializeApp(firebaseConfig) : firebase.app()
                    const storageReference = firebase.storage().ref(`${item}`);
                    storageReference.listAll().then(res => {
                        this.folder = res.prefixes
                        console.log('res.prefixes', res.prefixes);
                        res.prefixes.forEach(element => {
                            this.categoryBody.push({
                                fullPath: element.fullPath,
                                name: element.name,
                            })
                        });
                    })
                },

                loadImage(item, category) {
                    this.imgUrl = [];
                    console.log(item, category);
                    $("#img_dye").empty();
                    $("#img_perm").empty();
                    $("#img_modeling").empty();
                    $("#img_cut").empty();
                    var storageRef = firebase.storage().ref();
                    var listRef = storageRef.child(`${item}`);
                    // Find all the prefixes and items.
                    listRef.listAll()
                        .then((res) => {
                            res.prefixes.forEach((folderRef) => {

                            });
                            res.items.forEach((itemRef) => {

                                var listRefChild = storageRef.child(`${itemRef.fullPath}`);
                                listRefChild.getDownloadURL().then(function (url) {
                                    var item = `<a href="${url}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 col-4 mt-2">
                                    <img src="${url}" class="img-fluid"></a>`;

                                    console.log(url);
                                    if (category === '染') {
                                        console.log(category);
                                        $('#img_dye').append(item);
                                    } else if (category === '燙') {
                                        $('#img_perm').append(item);
                                    } else if (category === '造型') {
                                        $('#img_modeling').append(item);
                                    } else if (category === '剪') {
                                        $('#img_cut').append(item);
                                    }
                                });
                            });
                        }).catch((error) => {
                            // Uh-oh, an error occurred!
                        });
                },
            },
        })
    </script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
</body>
</html>
